<div *ngIf="isOpen" [ngClass]="modalClasses">
  <div [ngClass]="backdropClasses" (click)="onBackdropClick()"></div>
  
  <div [ngClass]="contentClasses">
    <button
      *ngIf="showCloseButton"
      (click)="close()"
      class="absolute top-4 right-4 p-2 text-text-secondary hover:text-text-primary transition-colors duration-200"
    >
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    
    <div class="p-6">
      <ng-content></ng-content>
    </div>
  </div>
</div>
